@if (ticket) {
  <div class="ticket-details-container">
    <div class="ticket-header">
      <h2>Detalles del Ticket</h2>
    </div>
    <div class="ticket-content">
      <div class="ticket-info">
        <h3>Información del Ticket</h3>
        <p><strong>ID:</strong> {{ ticket.id }}</p>
        <p><strong>Título:</strong> {{ ticket.title }}</p>
        <p><strong>Descripción:</strong> {{ ticket.description }}</p>
        <p><strong>Estado:</strong> {{ ticket.status }}</p>
      </div>
      <div class="ticket-comments">
        <h3>Comentario</h3>

        <div class="comment">
          <p>
             {{ticket.comment }}
          </p>
        </div>
        
      </div>
    </div>
  </div>
}
