<div class="user-stories-container">
  <header class="user-stories-header">
    <h2>User Stories</h2>
    <button class="btn-add-story" (click)="openModal()">
      Agregar Historia de Usuario
    </button>
    <!-- Barra de búsqueda -->
    <div class="search-bar">
      <input
        type="text"
        placeholder="Buscar historias..."
        [(ngModel)]="searchTerm"
        (input)="filterUserStories()"
      />
    </div>
  </header>

  <section class="user-stories-list">
    @for (story of filteredUserStories; track $index) {
      <div class="story-card">
        <h3>{{ story.title }}</h3>
        <p>{{ story.description }}</p>
        <a [routerLink]="['/ticket', story.id]" class="btn-view-details">Ver tickets</a>
        <button class="edit-story-btn" (click)="openUpdateModal(story)">Editar</button>
      </div>
    }
  </section>


  <!-- Botones de paginación -->
  <div class="pagination">
    <button class="btn-pagination" [disabled]="page === 1" (click)="backPage()">
      « Anterior
    </button>
    <span>
      Página {{ page }} de {{ totalPage }} de {{ totalElements }} elementos
    </span>
    <button
      class="btn-pagination"
      [disabled]="page === totalPage"
      (click)="nextPage()"
    >
      Siguiente »
    </button>
  </div>

  <!-- Modal -->
  @if(projectId){
    <div class="modal" [class.show]="isModalOpen" (click)="closeModal($event)">
      <div class="modal-content" (click)="$event.stopPropagation()">
        <button class="modal-close" (click)="closeModal()">×</button>
        <app-create-user-stories [projectId]="projectId"
          (userStoryCreated)="handleUserStoryCreated($event)"
          (errorOccurred)="handleError($event)"
        ></app-create-user-stories>
      </div>
    </div>
  }


  <!-- Modal de Actualización de Historia de Usuario -->
  @if(selectedUserStory){
    <div class="modal" [class.show]="isUpdateModalOpen" (click)="closeUpdateModal($event)">
      <div class="modal-content" (click)="$event.stopPropagation()">
        <button class="modal-close" (click)="closeUpdateModal()">×</button>
        <app-update-user-stories (userStoryUpdateEvent)="handleUserStoryUpdated($event)" [userStoryUpdate]="selectedUserStory"
        ></app-update-user-stories>
      </div>
    </div>
  }

  @if(statusMessage && successMessage){
    <app-status-message [message]="statusMessage" [isSuccess]="successMessage"></app-status-message>
  }
</div>
