<div class="projects-container">
  <header class="projects-header">
    <h2>Proyectos</h2>
    <button class="btn-add-project" (click)="openModal()">
      Agregar Proyecto
    </button>
    <!-- Barra de búsqueda -->
    <div class="search-bar">
      <input
        type="text"
        placeholder="Buscar proyectos..."
        [(ngModel)]="searchTerm"
        (input)="filterProjects()"
      />
    </div>
  </header>

  <section class="projects-list">
    @for (project of filteredProjects; track $index) {
      <div class="project-card">
        <h3>{{ project.name }}</h3>
        <p>{{ project.description }}</p>
        <a routerLink="/details-projects" class="btn-view-details">Ver detalles</a>
      </div>
    }
  </section>

  <!-- Mensajes de éxito y error -->
  @if (successMessage) {
  <div class="message success-message">
    <span class="message-icon"></span>
    {{ successMessage }}
  </div>
  } @if (errorMessage) {
  <div class="message error-message">
    <span class="message-icon"></span>
    {{ errorMessage }}
  </div>
  }

  <!-- Botones de paginación -->
  <div class="pagination">
    <button class="btn-pagination" [disabled]="page === 1" (click)="backPage()">
      « Anterior
    </button>
    <span>
      Página {{ page }} de {{ totalPage }} de {{ totalElements }} elementos
    </span>
    <button
      class="btn-pagination"
      [disabled]="page === totalPage"
      (click)="nextPage()"
    >
      Siguiente »
    </button>
  </div>

  <!-- Modal -->
  <div class="modal" [class.show]="isModalOpen" (click)="closeModal($event)">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <button class="modal-close" (click)="closeModal()">×</button>
      <app-create-projects
        (projectCreated)="handleProjectCreated($event)"
        (errorOccurred)="handleError($event)"
      ></app-create-projects>
    </div>
  </div>
</div>
