<div class="view-project-container">
  <h2>Detalles del Proyecto</h2>
  <div class="project-details">
    @if (project) {
      <p><strong>Nombre del Proyecto:</strong> {{ project.name}} </p>
      <p><strong>Descripción:</strong> {{ project.description }}</p>
      <p><strong>Compañia:</strong> {{ project.generalCompany.name }}.</p>
    }
    
  </div>
  <div class="action-buttons">
    <a routerLink="/userstory" class="btn-view-stories">Ver Historias de Usuario</a>
    <button class="btn-create-story" (click)="openCreateStoryModal()">Crear Nueva Historia</button>
    <button class="btn-update-project" (click)="openModal()">Actualizar Proyecto</button>
  </div>
</div>


<!-- Modal de Actualización de Proyecto -->
<div class="modal" [class.show]="isModalOpen">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <app-update-projects></app-update-projects>
  </div>
</div>

<!-- Modal de Crear Nueva Historia de Usuario -->
<div class="modal" [class.show]="isCreateStoryModalOpen">
  <div class="modal-content">
    <span class="close" (click)="closeCreateStoryModal()">&times;</span>
    <app-create-user-stories></app-create-user-stories>
  </div>
</div>

