<div class="dashboard-layout">
  <app-navbar></app-navbar>
  <div class="dashboard-content">

    @if (currentRoute === 'projects') {
      <app-projects></app-projects>
    }
    @else if (currentRoute.startsWith('userstory')) {
      <app-user-stories></app-user-stories>
    }
    @else if (currentRoute.startsWith('ticket')) {
      <app-tikets></app-tikets>
    }
    @else if (currentRoute.startsWith('details-projects')) {
      <app-details-projects></app-details-projects>
    }
    
  </div>
</div>
