<div class="update-project-container">
  <h2>Actualizar Proyecto</h2>
  <form [formGroup]="projectForm" (ngSubmit)="onSubmit()" class="update-project-form">

    <div class="form-group" [class.has-error]="projectForm.get('projectName')?.invalid && projectForm.get('projectName')?.touched">
      <label for="projectName">Nombre del Proyecto</label>
      <input
        type="text"
        id="projectName"
        formControlName="projectName"
        placeholder="Nombre del proyecto"
        required
      />
      <span *ngIf="projectForm.get('projectName')?.hasError('required') && projectForm.get('projectName')?.touched" class="error-message">
        Este campo es obligatorio.
      </span>
      <span *ngIf="projectForm.get('projectName')?.hasError('minlength') && projectForm.get('projectName')?.touched" class="error-message">
        El nombre debe tener al menos 3 caracteres.
      </span>
    </div>
    
    <div class="form-group" [class.has-error]="projectForm.get('projectDescription')?.invalid && projectForm.get('projectDescription')?.touched">
      <label for="projectDescription">Descripción</label>
      <textarea
        id="projectDescription"
        formControlName="projectDescription"
        placeholder="Descripción del proyecto"
        rows="4"
        required
      ></textarea>
      <span *ngIf="projectForm.get('projectDescription')?.hasError('required') && projectForm.get('projectDescription')?.touched" class="error-message">
        Este campo es obligatorio.
      </span>
      <span *ngIf="projectForm.get('projectDescription')?.hasError('minlength') && projectForm.get('projectDescription')?.touched" class="error-message">
        La descripción debe tener al menos 8 caracteres.
      </span>
    </div>
    
    
    <div class="form-group">
      <button type="submit" class="btn-submit">Actualizar Proyecto</button>
    </div>
  </form>
</div>
