
/* Contenedor general para centrar el formulario */
.sign-up-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh; /* Asegura que el wrapper ocupe el 100% de la altura de la ventana */
}

/* Contenedor del formulario de registro */
.sign-up-container {
  max-width: 500px;
  width: 100%;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  background: #f9f9f9;
}

/* Estilo del título */
h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
}

/* Estilo de los grupos de formulario */
.form-group {
  margin-bottom: 20px;
  position: relative;
}

/* Estilo de las etiquetas de formulario */
label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  color: #555;
}

/* Estilo de los campos de entrada */
.form-control {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: #fff;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Estilo de los campos de entrada en foco */
.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
  outline: none;
}

/* Estilo de los campos de entrada con error */
.form-control.error {
  border-color: #dc3545;
  background-color: #f8d7da;

}

/* Estilo de los campos de entrada con error en foco */
.form-control.error:focus {
  border-color: #c82333;
  background-color: #f5c6cb;
}

/* Estilo del botón de envío */
button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Estilo del botón de envío en hover */
button:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo del botón de envío deshabilitado */
button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Estilo de los mensajes de error */
.error-message {
  color: #dc3545;
  font-size: 14px;
  margin-top: 5px;
  font-weight: 400;
  display: none;
}

/* Estilo del enlace de inicio de sesión */
.login-link {
  margin-top: 20px;
  text-align: center;
}

.login-link p {
  font-size: 14px;
  color: #555;
  margin: 0;
}

.login-link a {
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
}

.login-link a:hover {
  color: #0056b3;
}
