<div class="tickets-container">
  <h2>Historial de Tickets</h2>
  <div class="button-container">
    <button class="create-ticket-btn" (click)="openCreateTicketModal()">
      <span class="icon">+</span>
      Crear Ticket
    </button>

    <div class="search-bar">
      <input
        type="text"
        placeholder="Buscar historias..."
        [(ngModel)]="searchTerm"
        (input)="filterTickets()"
      />
    </div>
  </div>
  
  <div class="tickets-list">
    @for (ticket of filteredTickets; track $index) {
    <div>
      <div class="ticket-header">
        <h3 class="ticket-title">{{ ticket.title }}</h3>
        <span
          [ngClass]="{
            'status-active': ticket.status === 'Active',
            'status-in-progress': ticket.status === 'Progress',
            'status-completed': ticket.status === 'Completed'
          }"
          class="ticket-status"
        >
          {{ ticket.status }}
        </span>
      </div>
      <p class="ticket-description">{{ ticket.description }}</p>
      <div class="ticket-footer">
        <button
          class="view-details-btn"
          (click)="openTicketDetailsModal(ticket)"
        >
          Ver Detalles
        </button>
      </div>
    </div>
    }
  </div>
</div>

<div class="pagination">
  <button class="btn-pagination" [disabled]="page === 1" (click)="backPage()">
    « Anterior
  </button>
  <span>
    Página {{ page }} de {{ totalPage }} de {{ totalElements }} elementos
  </span>
  <button
    class="btn-pagination"
    [disabled]="page === totalPage"
    (click)="nextPage()"
  >
    Siguiente »
  </button>
</div>


<!-- Modal para ver detalles del ticket -->
<div class="modal" [class.show]="isTicketDetailsModalOpen">
  <div class="modal-content">
    <span class="close" (click)="closeTicketDetailsModal()">&times;</span>
    <app-details-ticket [ticket]="selectedTicket"></app-details-ticket>
  </div>
</div>

@if(statusMessage && successMessage){
  <app-status-message [message]="statusMessage" [isSuccess]="successMessage"></app-status-message>
}
